.section-four{
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
}

.cards-tech{
    margin-top: 1em;
    display: grid;
    grid-template-columns: auto;
    width: 95%;
    grid-row-gap: 5px;
    justify-content: center;
}

.tech{
    display: flex;
    flex-direction:row ;
    gap:10px;
    border-radius: var(--border-raduis-8);
    padding: 10px;
    -webkit-transition: background-color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out;
    -o-transition: background-color 0.4s ease-out;
    -ms-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
}


.tech > img{
    width: 60px;
    height: 60px;
    padding: 8px 4px;
}

.explain-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1px;
    width: 100%;
    max-width: 260px;
}

.explain-text > h3{
    font-size: 24px;
    color: var(--white);
    font-weight: 600;
}

.explain-text > p{
    font-size: 16px;
    color: var(--gray-text-p);
    font-weight: 400;
}

.tech:hover{
    background-color: var(--backgroup-navbar);
}

@media screen and (min-width:560px) and (max-width: 1024px ){


}

@media screen and (min-width:1024px){

    .section-four{
        width: 100%;
    }

    .cards-tech{
        grid-template-columns: auto auto;
        justify-content: stretch;
    }

    .cards-tech{
        grid-row-gap: 10px;
    }
    .tech{
        max-width: 350px;
    }

}