:root {

  /*Background*/
  --backgroup-app: #151312;
  --backgroup-navbar: rgba(255,255,255,3%);
  --backgroup-div-orange: rgba(244, 108, 56, 1);
  --backgroup-div-green: rgba(197, 255, 65, 1);
  --backgroup-div-transparent: rgba(255,255,255,0);

  /* Text */
  --white:#FFFFFF;
  --h1-gray:rgba(182,180,189,20%);
  --text-gray:rgba(96, 96, 96, 1);
  --gray-text:#6A6B6E;
  --gray-text-p:#998F8F;

  /*Radius*/
  --border-raduis-8: 8px;
  --border-raduis-16: 16px;
  --border-raduis-10: 10px;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/font/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;  /* Poids normal */
  font-style: normal;   /* Style normal */
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/font/poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 500;  /* Poids normal */
  font-style: normal;   /* Style normal */
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/font/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 800;  /* Poids normal */
  font-style: normal;   /* Style normal */
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/font/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;  /* Poids normal */
  font-style: normal;   /* Style normal */
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/font/poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;  /* Poids normal */
  font-style: normal;   /* Style normal */
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/font/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;  /* Poids normal */
  font-style: normal;   /* Style normal */
}

* {
  font-family: Poppins, sans-serif;
  font-size: clamp(14px, 4vw, 30px);
  margin:0;
  padding: 0;
}

html{
  min-height: 100%;
  height: 100%;
}

.App{
  background: var(--backgroup-app);
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
