.global-home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.body-home-page{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1024px){
    .global-home-page{
        width: 100%;
    }
    .body-home-page{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 70%;
        gap: 60px
    }
    .section{
        width: 61%;
    }
}