::-webkit-scrollbar {
    width: 8px;  /* Pour une scrollbar verticale */
    height: 8px; /* Pour une scrollbar horizontale */
}

/* Couleur du fond de la scrollbar */
::-webkit-scrollbar-track {
    background: var(--backgroup-app);
}

/* Couleur de la barre (le curseur de défilement) */
::-webkit-scrollbar-thumb {
    background: var(--gray-text);
    border-radius: 4px;
}

@media screen and (min-width:1024px){
    .global-home-page{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .body-home-page{
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin:auto;
        gap: 100px

    }
    .section{
        width: 100%;

    }
}