.section-five{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 70vh;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}

.content-texte {
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-text-p);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.contact-me{
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    border: 0;
    cursor: pointer;
    color : var(--white);
    background-color: var(--backgroup-div-orange) ;
    border-radius: var(--border-raduis-8);
    width: 93%;
}

@media screen and (min-width:560px) and (max-width: 1024px ){


}

@media screen and (min-width:1024px){
    .section-five{
        width: 100%;
    }

    .content-texte {
        text-align: justify;
        width: 90%;
        height: 15vh;
        overflow: hidden;
        margin: 0;
    }

    .contact-me{
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        padding: 10px;
        border: 0;
        cursor: pointer;
        color : var(--white);
        background-color: var(--backgroup-div-orange) ;
        border-radius: var(--border-raduis-8);
        width: 88%;
    }


}
