.section-two{
    margin-top: 2em;
    width: 83%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.section-one-Two{
    font-size: 45px;
    display: flex;
    flex-direction: column;
    line-height: 1;
    color: var(--white);
}

.section-one-Two > span{
    color: var(--h1-gray);
    font-size: 42px;

}

.cards{
    display: flex;
    flex-direction: column;
    margin-top:2em;
}

@media screen and (min-width:560px) and (max-width: 1024px ){

 .section-one-Two{
     text-align: center;
 }

}

@media screen and (min-width:1024px){

    .section-two{
        width: 100%;
    }


    .section-one-Two{
        text-align: left;
        font-size: 80px;
    }

    .section-one-Two > span{
        font-size: 80px;
    }

    .cards{
        display: block;
    }
    .section-two{
        margin-top: 4em;
    }
}
