.profil-card-global{
    width: 70%;
    max-width: 350px;
    background-color: var(--white);
    border-radius: var(--border-raduis-16);
    padding: 30px;
    margin: 2.5em auto auto;
}

.image-container{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: var(--border-raduis-16);
}

.personal-picture{
    width: 150%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-raduis-16);
}

.card-bot{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.name{
    text-align: center;
    font-weight: 700;
    font-size: clamp(30px, 2vw, 35px);
    line-height: 1;
}

.description{
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--gray-text);
}

.navapp{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

@media screen and (min-width:1024px){
    .profil-card-global{
        position: sticky;
        top: 50px;
    }

}