.section-one{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
}

.section-one-h1{
    display: flex;
    flex-direction: column;
    font-size: Clamp(44px, 2vw, 52px);
    line-height: 1;
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-one-h1 >span{
    font-size: Clamp(42px, 2vw, 52px);
    color: var(--h1-gray);
}

.section-one-p{
    font-weight: 400;
    color: var(--gray-text-p);
    margin-top: 1em;
    width: 90%;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    margin-left:auto;
    margin-right: auto;
}

.score{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: auto;
    margin-left: auto;
}

.score > p{
    margin-top: 0.5em;
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: 600;
    margin-left:auto;
    margin-right: auto;
}

.score > p > span{
    color: var(--gray-text-p);
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    max-width: 100px;
}

.div-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5em;
    gap:30px;

}

.left-block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--backgroup-div-orange);
    border-radius: var(--border-raduis-10);
    font-size: 24px;
    width: 80%;
    max-width: 300px;
    color: var(--white);
    font-weight: 400;
    line-height: 150%;
    padding:15px
}

.left-block> img{
     width: 30px;
}

.right-block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--backgroup-div-green);
    border-radius: var(--border-raduis-10);
    width: 80%;
    max-width: 300px;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    padding:15px;
}

.right-block >img{
    width: 30px;
}

.button-arrow-white{
    border-radius:var(--border-raduis-10);
    background-color: transparent;
    border: 2px solid var(--white);
    margin-left: auto;
    width: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-arrow-black{
    border-radius:var(--border-raduis-10);
    background-color: transparent;
    width: 40px;
    padding: 8px;
    margin-left: auto;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.arrow-Icon-white{
    transition: stroke 0.3s ease;
}
.button-arrow-white:hover{
    background-color: var(--white);
}
.button-arrow-white:hover .arrow-Icon-white{
    stroke: var(--backgroup-div-orange);
}

.arrow-Icon-black{
    transition: stroke 0.3s ease;
}

.button-arrow-black:hover{
    background-color: black;
}

.button-arrow-black:hover .arrow-Icon-black{
    stroke: var(--backgroup-div-green);
}
@media screen and (min-width:560px) and (max-width: 1024px ){
    .left-block{
        max-width: 300px;
    }


}
@media screen and (min-width:560px) and (max-width: 1024px ){
}

@media screen and (min-width:1024px){
    .section-one{
        width: 100%;
    }

    .section-one-h1{
        font-size: clamp(90px, 5vw, 110px);
    }

    .section-one-h1 >span{
        color: var(--h1-gray);
        font-size: clamp(90px, 5vw, 110px);
    }


    .section-one-h1{
        text-align: left;
    }

    .section-one-p{
        margin-top: 1%;
        margin-left: 0;
        margin-right: 0;
        max-width: 70%;
        text-align: left;
    }

    .score{
        width: 30%;
        margin-right: 0;
        margin-left: 0;
    }

    .div-block{
        justify-content: left;
    }

    .left-block{
        max-width: 280px;
        width: 70%;
    }

    .right-block{
        font-size: 24px;
    }
}

