.Card-Experience{
    background-color: var(--backgroup-app);
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: var(--border-raduis-16);
    padding: 16px 8px;

    -webkit-transition: background-color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out;
    -o-transition: background-color 0.4s ease-out;
    -ms-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
}

.title-Experience{
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
}

.title-Experience > h2:nth-child(2){
    font-size: 20px;
    color: var(--gray-text);
}

.details-Experience{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-texte-Experience > p{
    font-size: 16px;
    font-weight: 400;
    color:var(--gray-text-p);
    max-width: 100%;
    line-height: 1.5;
    overflow: hidden;
}
.details-texte-Experience > p:nth-child(2){
    margin-top: 1em;
}

.arrow-svg-experience{
    display: none;
    position: absolute;
    top:0;
    left: 90%;
    stroke: var(--backgroup-div-orange);
    transition: transform 0.2s ease-in;
}

.Card-Experience:hover{
    background-color: var(--backgroup-navbar);
}

.Card-Experience:hover .arrow-svg-experience{
    transform: translate(20px, -5px);
}

@media screen and (min-width:560px) and (max-width: 1024px){

}

@media screen and (min-width:1024px){
    .Card-Experience{
        padding: 16px 8px;
    }

    .arrow-svg-experience{
        display: block;
    }

    .details-texte-Experience > p{
        max-width: 80%;
        font-size: 16px;
    }
}

